In [2]:
import pandas as pd
import tensorflow as tf
import numpy as np
import pandas as pd
import pickle
import os
import csv
import cv2

In [3]:
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.tree import DecisionTreeClassifier
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt

## pip install split-folders

from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.preprocessing.image import img_to_array
from tensorflow.keras.preprocessing.image import load_img

In [ ]:
# input1=r"D:\thirdyr_sem2\computer_vision\dataset\cvl"
# input2=r"D:\thirdyr_sem2\computer_vision\dataset\cvr"
# input3=r"D:\thirdyr_sem2\computer_vision\dataset\negative"

In [ ]:
# i=0
# for filename in os.listdir(input1):
   
#     path=os.path.join(input1,filename)
#     a=cv2.imread(path)
#     path
#     #resize image
#     resize=(300,300)
#     img=cv2.resize(a,resize)
    
#     #gray image
#     path= r"D:\thirdyr_sem2\computer_vision\dataset\datasetresize\cvl"
#     gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
#     cv2.imwrite(os.path.join(path, str(i)+'.jpg'), gray)
#     i=i+1

#     cv2.waitKey(0)

# Preprocessing, resize

In [7]:
# # Preprocessing for auto dataset
# i=0
# for filename in os.listdir(input2):
   
#     path=os.path.join(input2,filename)
#     a=cv2.imread(path)
#     path
#     #resize image
#     resize=(300,300)
#     img=cv2.resize(a,resize)
    
#     #gray image
#     path= r"D:\thirdyr_sem2\computer_vision\dataset\datasetresize\cvr"
#     gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
#     cv2.imwrite(os.path.join(path, str(i)+'.jpg'), gray)
#     i=i+1

#     cv2.waitKey(0)

In [15]:
# #Preprocessing for auto dataset
# i=0
# for filename in os.listdir(input3):
   
#     path=os.path.join(input3,filename)
#     a=cv2.imread(path)
#     path
#     #resize image
#     resize=(300,300)
#     img=cv2.resize(a,resize)
    
#     #gray image
#     path= r"D:\thirdyr_sem2\computer_vision\dataset\datasetresize\negative"
#     gray = cv2.cvtColor(img, cv2.COLOR_BGR2GRAY)
#     cv2.imwrite(os.path.join(path, str(i)+'.jpg'), gray)
#     i=i+1

#     cv2.waitKey(0)

# Data Augmentation

In [18]:
# datagen = ImageDataGenerator(
#     rotation_range=10,
#     zoom_range=0.1, # .1, .2, .3
   
#     #rescale=1./255,
#     shear_range=0.15,
    
#     fill_mode="nearest")

In [19]:
# input1 =  r"D:\thirdyr_sem2\computer_vision\dataset\datasetresize\cvl"
# input2 =  r"D:\thirdyr_sem2\computer_vision\dataset\datasetresize\cvr"
# input3 =  r"D:\thirdyr_sem2\computer_vision\dataset\datasetresize\negative"

# i=0
# for filename in os.listdir(input1):
   
#     path=os.path.join(input1,filename)
#     pic = load_img(path)
#     pic.getpixel
#     pic_array = img_to_array(pic)
#     pic_array = pic_array.reshape((1,) + pic_array.shape)

#     count = 0
#     output = "D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/cvl/"
#     for batch in datagen.flow( pic_array, batch_size = 1, save_to_dir=output,  save_prefix='left', save_format='jpg'):
#         count += 1
#         if count > 10:
#             break

# i=0
# for filename in os.listdir(input2):
   
#     path=os.path.join(input2,filename)
#     pic = load_img(path)
#     pic.getpixel
#     pic_array = img_to_array(pic)
#     pic_array = pic_array.reshape((1,) + pic_array.shape)

#     count = 0
#     output = "D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/cvr"
#     for batch in datagen.flow( pic_array, batch_size = 1, save_to_dir=output,  save_prefix='right', save_format='jpg'):
#         count += 1
#         if count > 10:
#             break
# i=0
# for filename in os.listdir(input3):
   
#     path=os.path.join(input3,filename)
#     pic = load_img(path)
#     pic.getpixel
#     pic_array = img_to_array(pic)
#     pic_array = pic_array.reshape((1,) + pic_array.shape)

#     count = 0
#     output = "D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/negative"
#     for batch in datagen.flow( pic_array, batch_size = 1, save_to_dir=output,  save_prefix='negative', save_format='jpg'):
#         count += 1
#         if count > 10:
#             break

# Sift Feature Extraction

In [8]:
# input1=  r"D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/cvl/"
# input2=  r"D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/cvr/"
# input3=  r"D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/negative/"
# #SIFT for input1
# i=0
# for filename in os.listdir(input1):
    
#     path=os.path.join(input1,filename)
#     img=cv2.imread(path)
    
#     #initialise sift descriptor
#     #sift = cv2.SIFT_create()
#     sift = cv2.SIFT_create()
#     #sift = cv2.xfeatures2d.SIFT_create()
#     keypoints, descriptors = sift.detectAndCompute(img, None)
    
#     convert the descriptor array into a dataframe format
#     out=pd.DataFrame(descriptors)
#     #print("descriptor shape ",i," : ", out.shape)
#     i=i+1
    
#     #drop first coloumn as it's the no of feature detected. Not required.append to the csv file
#     csv_data=out.to_csv('D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/left_sift.csv', mode='a', header=False,index=False)

In [5]:
# data1 = pd.read_csv(r'D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/left_sift.csv',header=None,dtype='float64')
# #MemoryError: Unable to allocate 166. MiB for an array with shape (128, 169606) and data type float64,
# #Double-precision floating-point format

# data1=data1.astype(np.float64) 
# #as unit8 contain 1 byte(8bit) and ranges from 0 to 255
# data1

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,2.0,20.0,120.0,136.0,52.0,24.0,4.0,1.0,2.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,43.0,1.0,0.0,0.0,44.0,42.0,16.0,66.0,160.0,8.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,142.0,142.0,6.0,1.0,0.0,0.0,0.0,13.0,142.0,142.0
3,3.0,20.0,152.0,84.0,0.0,0.0,1.0,5.0,18.0,54.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4.0,0.0,0.0,1.0,79.0,1.0,0.0,0.0,115.0,2.0,...,6.0,17.0,27.0,28.0,29.0,1.0,1.0,1.0,2.0,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325586,2.0,62.0,47.0,0.0,0.0,0.0,0.0,0.0,92.0,150.0,...,1.0,1.0,9.0,4.0,1.0,1.0,10.0,20.0,8.0,5.0
3325587,4.0,1.0,0.0,0.0,0.0,0.0,2.0,3.0,79.0,13.0,...,13.0,12.0,28.0,109.0,61.0,3.0,0.0,7.0,2.0,1.0
3325588,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,1.0,...,12.0,4.0,8.0,4.0,7.0,17.0,11.0,6.0,17.0,9.0
3325589,0.0,0.0,2.0,43.0,42.0,3.0,0.0,0.0,3.0,19.0,...,0.0,0.0,118.0,21.0,0.0,0.0,6.0,1.0,0.0,0.0
3325590,9.0,18.0,111.0,125.0,2.0,0.0,0.0,0.0,125.0,115.0,...,0.0,0.0,0.0,31.0,39.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# i=0
# for filename in os.listdir(input2):
    
#     path=os.path.join(input2,filename)
#     a=cv2.imread(path)
    
#     #initialise sift descriptor
#     #sift = cv2.xfeatures2d.SIFT_create()
#     sift = cv2.SIFT_create()

#     keypoints, descriptors = sift.detectAndCompute(a, None)
    
#     #convert the descriptor array into a dataframe format
#     out=pd.DataFrame(descriptors)
#     #print("descriptor shape ",i," : ", out.shape)
#     i=i+1
#     #drop first coloumn as it's the no of feature detected. Not required.append to the c/sv file
#     csv_data=out.to_csv('D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/right_sift1.csv', mode='a', header=False,index=False)

In [6]:
# data2= pd.read_csv(r'D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/right_sift1.csv',header=None,dtype='float64')
# data2=data2.astype(np.float64)
# data2

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,15.0,3.0,1.0,1.0,0.0,2.0,2.0,5.0,52.0,2.0,...,0.0,2.0,1.0,1.0,0.0,1.0,72.0,10.0,0.0,1.0
1,102.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,101.0,12.0,...,6.0,18.0,0.0,0.0,0.0,0.0,96.0,31.0,0.0,0.0
2,17.0,4.0,3.0,0.0,0.0,0.0,1.0,12.0,21.0,4.0,...,0.0,6.0,70.0,3.0,0.0,1.0,0.0,0.0,0.0,9.0
3,16.0,13.0,0.0,0.0,4.0,8.0,0.0,1.0,36.0,15.0,...,0.0,0.0,0.0,2.0,2.0,6.0,7.0,6.0,0.0,0.0
4,61.0,1.0,0.0,0.0,1.0,2.0,3.0,5.0,168.0,10.0,...,0.0,3.0,1.0,1.0,2.0,5.0,54.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4124523,20.0,0.0,0.0,1.0,4.0,0.0,0.0,2.0,35.0,0.0,...,11.0,5.0,12.0,109.0,35.0,2.0,1.0,2.0,3.0,5.0
4124524,0.0,2.0,9.0,7.0,7.0,99.0,43.0,2.0,7.0,5.0,...,0.0,0.0,1.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0
4124525,0.0,0.0,0.0,0.0,22.0,5.0,0.0,0.0,28.0,6.0,...,39.0,26.0,21.0,42.0,6.0,6.0,11.0,25.0,16.0,18.0
4124526,9.0,33.0,38.0,46.0,19.0,22.0,10.0,3.0,28.0,46.0,...,0.0,0.0,26.0,11.0,0.0,0.0,15.0,6.0,0.0,0.0
4124527,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,...,9.0,9.0,7.0,30.0,22.0,18.0,14.0,39.0,61.0,24.0

In [10]:
# i=0
# for filename in os.listdir(input3):
    
#     path=os.path.join(input3,filename)
#     a=cv2.imread(path)
    
#     #initialise sift descriptor
#     #sift = cv2.xfeatures2d.SIFT_create()
#     sift = cv2.SIFT_create()

#     keypoints, descriptors = sift.detectAndCompute(a, None)
    
#     #convert the descriptor array into a dataframe format
#     out=pd.DataFrame(descriptors)
#     #print("descriptor shape ",i," : ", out.shape)
#     i=i+1
#     #drop first coloumn as it's the no of feature detected. Not required.append to the c/sv file
#     csv_data=out.to_csv('D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/negative_sift1.csv', mode='a', header=False,index=False)

In [7]:
# data3= pd.read_csv(r'D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/negative_sift1.csv',header=None,dtype='float64')
# data3 = data3.astype(np.float64)
# data3

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,14.0,44.0,3.0,2.0,8.0,9.0,0.0,0.0,26.0,124.0,...,10.0,2.0,12.0,115.0,124.0,18.0,5.0,9.0,3.0,2.0
1,42.0,12.0,42.0,45.0,1.0,0.0,0.0,21.0,115.0,10.0,...,2.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,21.0,98.0,81.0,47.0,4.0,1.0,0.0,1.0,2.0,8.0,...,2.0,1.0,35.0,27.0,10.0,2.0,8.0,44.0,41.0,71.0
3,2.0,14.0,63.0,83.0,2.0,0.0,0.0,0.0,121.0,32.0,...,22.0,8.0,34.0,22.0,0.0,1.0,0.0,2.0,3.0,8.0
4,5.0,39.0,14.0,0.0,0.0,0.0,0.0,0.0,105.0,107.0,...,10.0,30.0,0.0,3.0,54.0,14.0,14.0,6.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5376631,21.0,8.0,65.0,66.0,14.0,1.0,6.0,25.0,0.0,1.0,...,9.0,18.0,1.0,1.0,2.0,67.0,47.0,3.0,1.0,0.0
5376632,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,...,137.0,101.0,2.0,6.0,2.0,0.0,0.0,2.0,137.0,37.0
5376633,0.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,8.0,6.0,...,8.0,10.0,146.0,32.0,0.0,1.0,17.0,7.0,1.0,8.0
5376634,31.0,12.0,122.0,103.0,3.0,10.0,8.0,5.0,111.0,15.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5376635,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,149.0,85.0,0.0,0.0,0.0,0.0,0.0,6.0,149.0,68.0

In [ ]:
# data=data1.concat(data2)#appending both the dataframes of extracted features and storing it in csv
# data=data.concat(data3)

In [12]:
# csv_data=data.to_csv('D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/final_sift1.csv', mode='a', header=False,index=False)

In [8]:
data1 = pd.read_csv(r'D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/left_sift.csv',header=None,dtype='uint8')
data1 = data1.astype(np.uint8)
data1

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,2,20,120,136,52,24,4,1,2,7,...,0,0,0,0,0,0,0,0,0,0
1,43,1,0,0,44,42,16,66,160,8,...,2,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,142,142,6,1,0,0,0,13,142,142
3,3,20,152,84,0,0,1,5,18,54,...,0,0,1,0,0,0,0,0,0,0
4,4,0,0,1,79,1,0,0,115,2,...,6,17,27,28,29,1,1,1,2,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3325586,2,62,47,0,0,0,0,0,92,150,...,1,1,9,4,1,1,10,20,8,5
3325587,4,1,0,0,0,0,2,3,79,13,...,13,12,28,109,61,3,0,7,2,1
3325588,0,0,0,0,0,0,0,0,9,1,...,12,4,8,4,7,17,11,6,17,9
3325589,0,0,2,43,42,3,0,0,3,19,...,0,0,118,21,0,0,6,1,0,0
3325590,9,18,111,125,2,0,0,0,125,115,...,0,0,0,31,39,0,0,0,0,0

In [9]:
data2 = pd.read_csv(r'D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/right_sift1.csv',header=None,dtype='uint8')
data2 = data2.astype(np.uint8)
data2

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,15,3,1,1,0,2,2,5,52,2,...,0,2,1,1,0,1,72,10,0,1
1,102,31,0,0,0,0,0,0,101,12,...,6,18,0,0,0,0,96,31,0,0
2,17,4,3,0,0,0,1,12,21,4,...,0,6,70,3,0,1,0,0,0,9
3,16,13,0,0,4,8,0,1,36,15,...,0,0,0,2,2,6,7,6,0,0
4,61,1,0,0,1,2,3,5,168,10,...,0,3,1,1,2,5,54,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4124523,20,0,0,1,4,0,0,2,35,0,...,11,5,12,109,35,2,1,2,3,5
4124524,0,2,9,7,7,99,43,2,7,5,...,0,0,1,0,0,0,12,0,0,0
4124525,0,0,0,0,22,5,0,0,28,6,...,39,26,21,42,6,6,11,25,16,18
4124526,9,33,38,46,19,22,10,3,28,46,...,0,0,26,11,0,0,15,6,0,0
4124527,0,0,0,0,2,0,0,0,3,0,...,9,9,7,30,22,18,14,39,61,24

In [10]:
data3 = pd.read_csv(r'D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/negative_sift1.csv',header=None,dtype='uint8')
data3 = data3.astype(np.uint8)
data3

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,14,44,3,2,8,9,0,0,26,124,...,10,2,12,115,124,18,5,9,3,2
1,42,12,42,45,1,0,0,21,115,10,...,2,6,0,0,0,0,0,0,0,0
2,21,98,81,47,4,1,0,1,2,8,...,2,1,35,27,10,2,8,44,41,71
3,2,14,63,83,2,0,0,0,121,32,...,22,8,34,22,0,1,0,2,3,8
4,5,39,14,0,0,0,0,0,105,107,...,10,30,0,3,54,14,14,6,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5376631,21,8,65,66,14,1,6,25,0,1,...,9,18,1,1,2,67,47,3,1,0
5376632,0,0,0,0,0,0,0,0,4,1,...,137,101,2,6,2,0,0,2,137,37
5376633,0,0,2,0,0,0,3,0,8,6,...,8,10,146,32,0,1,17,7,1,8
5376634,31,12,122,103,3,10,8,5,111,15,...,0,0,0,0,0,0,0,0,0,0
5376635,0,0,0,0,0,0,0,0,3,0,...,149,85,0,0,0,0,0,6,149,68

In [11]:
data=data1.append(data2)
data=data.append(data3)

C:\Users\sahil\AppData\Local\Temp\ipykernel_7148\1259136974.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data1.append(data2)
C:\Users\sahil\AppData\Local\Temp\ipykernel_7148\1259136974.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data=data.append(data3)

In [12]:
data.columns = data.columns.astype(str)

In [13]:
data

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,2,20,120,136,52,24,4,1,2,7,...,0,0,0,0,0,0,0,0,0,0
1,43,1,0,0,44,42,16,66,160,8,...,2,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,142,142,6,1,0,0,0,13,142,142
3,3,20,152,84,0,0,1,5,18,54,...,0,0,1,0,0,0,0,0,0,0
4,4,0,0,1,79,1,0,0,115,2,...,6,17,27,28,29,1,1,1,2,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5376631,21,8,65,66,14,1,6,25,0,1,...,9,18,1,1,2,67,47,3,1,0
5376632,0,0,0,0,0,0,0,0,4,1,...,137,101,2,6,2,0,0,2,137,37
5376633,0,0,2,0,0,0,3,0,8,6,...,8,10,146,32,0,1,17,7,1,8
5376634,31,12,122,103,3,10,8,5,111,15,...,0,0,0,0,0,0,0,0,0,0
5376635,0,0,0,0,0,0,0,0,3,0,...,149,85,0,0,0,0,0,6,149,68

In [16]:
data.to_parquet('D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/df_1.parquet')

In [17]:
csv_data=data.to_csv('D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/final', mode='a', header=False,index=False)

In [ ]:
input1=  r"D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/cvl/"
input2=  r"D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/cvr/"
input3=  r"D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/negative/"
#AKAZE for input1
i=0
for filename in os.listdir(input1):
    
    path=os.path.join(input1,filename)
    img=cv2.imread(path)
    
    #initialise sift descriptor
    #sift = cv2.SIFT_create()
    AKAZE = cv.AKAZE_create()
    #sift = cv2.xfeatures2d.SIFT_create()
    keypoints, descriptors = AKAZE.compute(image, keypoints)

    
    convert the descriptor array into a dataframe format
    out=pd.DataFrame(descriptors)
    #print("descriptor shape ",i," : ", out.shape)
    i=i+1
    
    #drop first coloumn as it's the no of feature detected. Not required.append to the csv file
    csv_data=out.to_csv('D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/left_sift.csv', mode='a', header=False,index=False)

# Kmeans

In [5]:
import matplotlib.pyplot as plt
data = pd.read_csv(r'D:/thirdyr_sem2/computer_vision/dataset/dataaugmentation/final')
x=data.iloc[:, 0:32].values

import sklearn.metrics as metrics
for i in range(2,20):
    labels=cluster.KMeans(n_clusters=i,init="k-means++",random_state=200).fit(data).labels_
    print ("Silhouette score for k(clusters) = "+str(i)+" is "


           +str(metrics.silhouette_score(data,labels,metric="euclidean",sample_size=1000,random_state=200)))

MemoryError: Unable to allocate 12.2 GiB for an array with shape (128, 12826754) and data type int64

In [ ]:
kmeans = KMeans(n_clusters=5) #creating KMeans model instance with 5 clusters
kmeans.fit(data) #fitting the data(feature vector data) on the KMeans